
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>ReportIndex</title>
</head>
<body>
    <div> 
     <p><a href="/ReportMeter/GetMonthReport">導出本月的ReportMeterReading</a></p>
      
    </div>
</body>
</html>
